const char* WIFI_SSID = "kif";
const char* WIFI_PASSWORD = "s3cr3t";

// #define STATIC_IP
IPAddress staticIP(192, 168, 19, 201);
IPAddress gateway(192, 168, 10, 1);
IPAddress subnet(255, 255, 255, 0);
IPAddress dns(192, 168, 10, 1);
